/* CSS due to Justin Hubbard at http://webdesign.tutsplus.com/articles/quicktip-pressable-css3-social-buttons--webdesign-3330 - 
 * Unknown Licence
 */

body {
    color: #ccc;
    font-family: arial;
}

.centre {
    text-align: center;
}

.button-container {
    position: absolute;
}

.button-container span {
    display: block;
}

.play-button-container {
    align-content: center;
}

.play-button-container span {
    display: inline-block;
}

.button-container .button {
    margin: 25px;    
}

.stream-label {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    text-align: left;
}

.button a {
    text-decoration: none;
    font-family:font-family: 'Arvo', arial, serif;
    color:#333333;
    font-size:16px;
    background: linear-gradient(to top, #ffffff 0%,#9c9c9c 100%); /* W3C */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 3px 4px -1px #464646;
    -webkit-box-shadow: 0 3px 4px -1px #464646;
    box-shadow: 0 3px 4px -1px #464646;
    padding: 6px 12px;  
}

.button a:hover, .button.pressed a {
    background: linear-gradient(to top, #dfdfdf 0%,#ffffff 100%); /* W3C */
    box-shadow: 0 1px 1px 0 #AFAFAF;
}

.button.pressed a {
    -moz-box-shadow: 2px 3px 2px -1px #464646 inset, 0 1px 1px 0 #666666;
    -webkit-box-shadow: 2px 3px 2px -1px #464646 inset, 0 1px 1px 0 #666666;
    box-shadow: 2px 3px 2px -1px #464646 inset, 0 1px 1px 0 #666666;
}

.button.play {
    background-image: url("../images/play-button.png");
    filter: brightness(0.3);
    background-size: 64px 64px;
    height: 64px;
    width: 64px;
}

.button.play:hover {
    filter: brightness(3);
}